.card{
    min-height: 250px;
}

.container-fluid h3{
    padding-top: 8px;
}

.bgText{
    position: absolute;
    background-color: #924f4f7c;
    padding: 8px;
}
.bgText>p{
    color: white;
    display:table-cell;
    vertical-align: middle;
    font-weight: 600;
    text-shadow: 0 0 2px black;
}